.body
{
	background: rgb(139, 96, 230) ;
}
.center {
  height: 62px; 
  background: cornflowerblue; 
  transition: all 2s; 
  line-height: 50px;
  font-size: 60px;
  font-style: bold ;
  border: 12px ;  

}
.botna {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 30px auto;
  background: #AD133A;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-size: 17px;
  color: white;
}

